@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-ball {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #00fff0;
  border-radius: 9999px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}
